@{
    ViewBag.Title = "Introduction";
}

<h2>Who I am</h2>
<a href="https://github.com/mariesauve" target="_blank"><img src="~/Content/0101copy.png" id="portrait" width="130" height="150" alt="portrait" /></a>
<p>
    I am currently a student at triOS College in the Enterprise Web & Mobile Development program.
    My passion lies in Web design and development. With a foundation in IT administration and 
    certifications in A+, Network+, and Security+, my journey evolved when I found 
    programming through studying for the Security+ certification.
    I would bring a diverse background, as a former baker with patience and creativity, and as a foster
    mom to our non-verbal autistic nephew, I've honed unique problem-solving and teaching skills. Also,
    adaptability, effective leadership, and communication skills.
    I am very eager to Thank you for your time and consideration. I look forward to connecting with you in the future.

</p>

<h2>Why you want to hire me</h2>

<p>
    What truly sets me apart are my honed patience and adept conflict resolution skills,
    influenced by fostering and customer service. I possess an ability for simplifying
    intricate concepts, be it programming, technical subjects or life's challenges. This
    distinctive blend of experiences enables me to offer a comprehensive outlook on most
    any situation.

</p>

<h2>How to find me</h2>
<p>
    Phone: 289-527-3901 
</p>
<p>
    <a href="https://github.com/mariesauve" target="_blank">GitHub Link</a>
</p>
<p>
    Email: <a href="mailto:marie_sauve@outlook.com"> marie_sauve@outlook.com</a>
</p>
