@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>
<br />
<h4><a href="https://github.com/mariesauve" target="_blank">GitHub Projects Link</a></h4>

<h3>WordPress Web App</h3>
<p>
    I have created, a WordPress Web App using the Astra Theme, Robo Gallery and SEO (shown bellow and on GitHub).

</p>
<img src="~/Content/robo-gallery-page.png" width="420" height="280" alt="MediaDemo" />
<br />
<br />

<h3>Stripe Checkout</h3>
<p>
    I have created, a C# ASP .NET web app with a third party checkout using Stripe (shown bellow).

</p>
<img src="~/Content/ScreenshotThirdPartyCheckout.png" width="420" height="280" alt="MediaDemo" />
<br />
<br />

<h3>Web API C#</h3>
<p>
    I have created, a C# web api using C# .NET8 (shown bellow).

</p>
<img src="~/Content/webappshots/Screenshot 2024-01-11 APImainPage.png" width="420" height="280" alt="MediaDemo" />
<br />
<br />
<h3>Web API C#</h3>
<p>
    I have created, a C# web app Login to an account profile page using C# .NET8 (shown bellow).

</p>
<img src="~/Content/webappshots/Screenshot 2024-01-11 MainLoginPage.png" width="420" height="280" alt="MediaDemo" />
<br />
<br />
<img src="~/Content/webappshots/Screenshot 2024-01-11 LoginRedirectToProfile.png" width="420" height="280" alt="MediaDemo" />
<br />
<br />
<h3>JavaFX</h3>
<p>

    I have created, using Java a JavaFX application(shown bellow).
    It uses the Media, MediaPlayer and MediaView classes
    and event handling to provide an interactive audio and video
    experience.
</p>
<img src="~/Content/media-demo.png" width="320" height="180" alt="MediaDemo" />
<br />
<br />


<h3>College Database</h3>
<p>
    As an introduction to data modelling I designed a database(shown below)
    to manage students and residences at a college or university.
</p>
<p>
    Using this design I built the database using Microsoft SQL Server.
</p>
<img src="~/Content/UniAccomodationDiagram.png" width="320" height="180" alt="SqlProject" />
<br />
<br />


<h3>My Win App</h3>
<p>
    As an introduction to C# Windows applications I designed an application(shown below)
    to illustrate the use of common GUI elements and their functionality.
</p>
<p>
    Using this design I built a event driven Windows Forms application using Visual Studio.
</p>
<img src="~/Content/ScreenshotMyWinApp.png" width="320" height="180" alt="WindowsApplication" />
<img src="~/Content/ScreenshotMyWinApp2.png" width="320" height="180" alt="WindowsApplication" />
<br />
<br />

<h3>My Swim App</h3>
<p>
    A WPF .NET application(shown below), using C# and XAML code.
</p>
<p>
    This App was built with Visual Studio's Toolbox WPF tools. Such as,
    TextBox, CheckBox and RadioButton.
</p>
<img src="~/Content/ScreenshotSwimApp.png" width="320" height="180" alt="WindowsApplication" />
<br />
<br />
<h3>Calculator App</h3>
<p>
    A Web application(shown below).
</p>
<p>
    Built using JavaScript, HTML and CSS in Visual Studio Code.
</p>
<img src="~/Content/CalculatorEdit.png" width="180" height="220" alt="WindowsApplication" />
<br />
<p>A color variation</p>
<img src="~/Content/Calculator.png" width="180" height="217" alt="WindowsApplication" />

<br />
<br />