@{
    ViewBag.Title = "Skills";
}

<h2>@ViewBag.Title</h2>

<h3>HTML, CSS and JavaScript</h3>
<p>
    Proficient in Visual Studio developing interactive websites
    using HTML, CSS and JAvaScript. Proficiency with HTML5, CSS3 and
    JavaScript for interactivity.
</p>

<h3>Adobe Products</h3>
<p>
    Very proficient in Photoshop and Illustrator. Capabilities include
    color correction, complex selections, optimization of images
    for use on the web using Photoshop. Using Illustrator I am
    proficient with vector graphics for logos and company branding
    as well as creating storyboards or wireframes.
</p>

<h3>C# Applications</h3>
<p>
    Proficiency in C# application development has equipped me with a versatile skill set encompassing
    object-oriented programming, enabling the creation of well-structured codebases for desktop, web,
    and mobile applications. This expertise leverages the power of the .NET framework for efficient memory
    management, secure data handling, and seamless integration with other technologies. Additionally, it
    has honed my skills in UI/UX design, problem-solving, and debugging, facilitating the development of
    intuitive, visually appealing, and robust software solutions to meet diverse user needs.
</p>
<h3>Java </h3>
<p>
    Participating in Java programming has help me acquire a flexible skill set crucial for current
    software development. Java expertise cultivated a strong foundation in object-oriented programming,
    enabling the creation of organized and scalable code. Through Java, I gained knowledge in building
    diverse applications, spanning from enterprise systems to Android mobile apps, enhancing adaptability.
    Command of Java involved a deep understanding of the Java Virtual Machine (JVM) ecosystem, assisting
    efficient memory management, security enforcement, and platform independence. Additionally, learning
    Java cultivates proficiency in problem-solving, as well as honing skills in debugging and optimizing
    code performance, essential for tackling intricate coding challenges.
</p>

<h3>SQL </h3>
<p>
    Proficiency in MySQL and SQL Server, prominent relational database management systems, enables effective
    database management and manipulation. My expertise in these platforms includes database design, optimization,
    and precise data extraction, modification, and analysis using SQL. My understanding database normalization and
    data integrity principles enhances clean and efficient data structures. Additionally, mastering these systems
    equips me with database administration skills, ensuring data security and availability. Overall, learning MySQL
    and SQL Server promoted a comprehensive skill set essential for effective database management and data-driven
    decision-making.
</p>


