body {
    padding-top:50px;
    padding-bottom:20px;
    background-color: lavender;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#portrait {
    float: left;
    margin-right: 20px;
}

.navbar-default .navbar-brand {
    color: thistle;
}

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: teal;
        background-color: transparent;
    }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: teal;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    background-color: thistle;
    color: teal;
}

.navbar-default {
    background-color: thistle;
}


